*:before,
*:after {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*::-webkit-scrollbar {
  width: 0.45rem;
  background-color: #282c34;
}
*::-webkit-scrollbar-thumb {
  background-color: #171923;
  border-radius: 3px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}

svg:hover {
  transition: 0.3s all;
  color: #0bc5ea;
}

